@model List<DesafioLanche.WebApp.ViewModels.PromocaoViewModel>

@foreach (var promocao in Model)
{
    <div class="col-sm-6">
        <div class="card text-white bg-success mb-4">
            <div class="card-body">
                <h5 class="card-title">@promocao.Nome</h5>
                <p class="card-text">@promocao.Descricao</p>
            </div>
        </div>
    </div>
}

