
@{
    ViewBag.Title = "Cadastro do Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-3">
    <h3 class="pb-3">Cadstro do cliente</h3>

    <p class="small">Não implementado.</p>
</div>

